<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="landscapes" data-img="media/Landscapes/Clyde Valley.jpg" data-title="Clyde Valley" data-description="Acrylic on canvas" data-price="240" data-width="40" data-height="50" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Clyde Valley" height="3264" width="4928" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Landscapes/Clyde Valley.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Clyde Valley</h2>
            <p>Acrylic on canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="landscapes" data-img="media/Landscapes/Clyde Walkway 2.jpg" data-title="Clyde Walkway 2" data-description="Acrylic on canvas" data-price="145" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Clyde Walkway 2" height="3336" width="2680" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Landscapes/Clyde Walkway 2.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Clyde Walkway 2</h2>
            <p>Acrylic on canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="landscapes" data-img="media/Landscapes/Clyde Walkway.jpg" data-title="Clyde Walkway" data-description="Acrylic on canvas" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Clyde Walkway" height="3484" width="2759" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Landscapes/Clyde Walkway.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Clyde Walkway</h2>
            <p>Acrylic on canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="landscapes" data-img="media/Landscapes/Falls of Clyde 2.jpg" data-title="Falls Of Clyde 2" data-description="Acrylic on canvas" data-price="280" data-width="40" data-height="50" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Falls Of Clyde 2" height="3264" width="4928" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Landscapes/Falls of Clyde 2.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Falls Of Clyde 2</h2>
            <p>Acrylic on canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="landscapes" data-img="media/Landscapes/Falls of Clyde Bonnington Linn.jpg" data-title="Falls Of Clyde Bonnington Linn" data-description="Acrylic on canvas" data-price="290" data-width="40" data-height="57" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Falls Of Clyde Bonnington Linn" height="3264" width="4928" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Landscapes/Falls of Clyde Bonnington Linn.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Falls Of Clyde Bonnington Linn</h2>
            <p>Acrylic on canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="landscapes" data-img="media/Landscapes/Falls of Clyde.jpg" data-title="Falls Of Clyde" data-description="Acrylic on canvas" data-price="380" data-width="50" data-height="70" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Falls Of Clyde" height="4379" width="3097" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Landscapes/Falls of Clyde.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Falls Of Clyde</h2>
            <p>Acrylic on canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="landscapes" data-img="media/Landscapes/Findochty Harbour.jpg" data-title="Findochty Harbour" data-description="Acrylic on canvas" data-price="170" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Findochty Harbour" height="4055" width="2835" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Landscapes/Findochty Harbour.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Findochty Harbour</h2>
            <p>Acrylic on canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="landscapes" data-img="media/Landscapes/Frosty Garden.jpg" data-title="Frosty Garden" data-description="Acrylic on canvas" data-price="360" data-width="57" data-height="67" data-framed="Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Frosty Garden" height="3677" width="2895" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Landscapes/Frosty Garden.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Frosty Garden</h2>
            <p>Acrylic on canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="landscapes" data-img="media/Landscapes/Frosty Morning Clyde Valley.jpg" data-title="Frosty Morning Clyde Valley" data-description="Acrylic on Canvas" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Frosty Morning Clyde Valley" height="2780" width="3736" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Landscapes/Frosty Morning Clyde Valley.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Frosty Morning Clyde Valley</h2>
            <p>Acrylic on Canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="landscapes" data-img="media/Landscapes/Frosy Morning Carnwath.jpg" data-title="Frosy Morning Carnwath" data-description="Acrylic on canvas" data-price="280" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Frosy Morning Carnwath" height="2831" width="3546" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Landscapes/Frosy Morning Carnwath.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Frosy Morning Carnwath</h2>
            <p>Acrylic on canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="landscapes" data-img="media/Landscapes/Lilac Copse.jpg" data-title="Lilac Copse" data-description="Acrylic on canvas" data-price="120" data-width="23" data-height="30" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Lilac Copse" height="3400" width="2424" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Landscapes/Lilac Copse.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Lilac Copse</h2>
            <p>Acrylic on canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="landscapes" data-img="media/Landscapes/River Clyde 2.jpg" data-title="River Clyde 2" data-description="Heavily textured acrylic paint on canvas" data-price="145" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="River Clyde 2" height="3264" width="4928" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Landscapes/River Clyde 2.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">River Clyde 2</h2>
            <p>Heavily textured acrylic paint on canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="landscapes" data-img="media/Landscapes/River Clyde Winter.jpg" data-title="River Clyde Winter" data-description="Acrylic on Canvas" data-price="350" data-width="0" data-height="0" data-framed="Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="River Clyde Winter" height="3721" width="2970" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Landscapes/River Clyde Winter.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">River Clyde Winter</h2>
            <p>Acrylic on Canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="landscapes" data-img="media/Landscapes/River Clyde.jpg" data-title="River Clyde" data-description="Acrylic on board" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="River Clyde" height="4111" width="2796" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Landscapes/River Clyde.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">River Clyde</h2>
            <p>Acrylic on board</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="landscapes" data-img="media/Landscapes/The Red Boat.jpg" data-title="The Red Boat" data-description="Acrylic on Board" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="The Red Boat" height="2906" width="3912" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Landscapes/The Red Boat.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">The Red Boat</h2>
            <p>Acrylic on Board</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="landscapes" data-img="media/Landscapes/Winter River Clyde.jpg" data-title="Winter River Clyde" data-description="Watercolour on paper" data-price="50" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Winter River Clyde" height="3878" width="2829" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Landscapes/Winter River Clyde.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Winter River Clyde</h2>
            <p>Watercolour on paper</p>
        </div>
    </div>
</div>
