<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="oilPastels" data-img="/media/Oil Pastels/By the Clyde.jpg" data-title="By The Clyde" data-description="Tree by the river Clyde, oil pastel on black sugar paper" data-price="100" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="By The Clyde" height="1200" width="1600" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Oil Pastels/By the Clyde.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">By The Clyde</h2>
            <p>Tree by the river Clyde, oil pastel on black sugar paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="oilPastels" data-img="/media/Lockdown/Tree.jpg" data-title="Tree" data-description="Oil pastel on paper" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Tree" height="1200" width="1600" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Lockdown/Tree.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Tree</h2>
            <p>Oil pastel on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="oilPastels" data-img="/media/Oil Pastels/Clouds 2.jpg" data-title="Clouds 2" data-description="Oil pastel on paper" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Clouds 2" height="1600" width="1200" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Oil Pastels/Clouds 2.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Clouds 2</h2>
            <p>Oil pastel on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="oilPastels" data-img="/media/Oil Pastels/Clouds 3.jpg" data-title="Clouds 3" data-description="Oil pastel on paper" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Clouds 3" height="1600" width="1200" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Oil Pastels/Clouds 3.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Clouds 3</h2>
            <p>Oil pastel on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="oilPastels" data-img="/media/Oil Pastels/Clouds 4.jpg" data-title="Clouds 4" data-description="Oil pastel on paper" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Clouds 4" height="1600" width="1200" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Oil Pastels/Clouds 4.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Clouds 4</h2>
            <p>Oil pastel on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="oilPastels" data-img="/media/Oil Pastels/Clouds 5.jpg" data-title="Clouds 5" data-description="Oil pastel on paper" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Clouds 5" height="1200" width="1600" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Oil Pastels/Clouds 5.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Clouds 5</h2>
            <p>Oil pastel on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="oilPastels" data-img="/media/Oil Pastels/Clouds.jpg" data-title="Clouds" data-description="Oil pastel on paper" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Clouds" height="1600" width="1200" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Oil Pastels/Clouds.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Clouds</h2>
            <p>Oil pastel on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="oilPastels" data-img="/media/Oil Pastels/Coldingham bay.jpg" data-title="Coldingham Bay" data-description="Oil pastel on paper" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Coldingham Bay" height="1600" width="1200" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Oil Pastels/Coldingham bay.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Coldingham Bay</h2>
            <p>Oil pastel on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="oilPastels" data-img="/media/Oil Pastels/Self portrait.jpg" data-title="Self Portrait" data-description="Oil pastel on black sugar paper" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Self Portrait" height="1200" width="1600" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Oil Pastels/Self portrait.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Self Portrait</h2>
            <p>Oil pastel on black sugar paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="oilPastels" data-img="/media/Oil Pastels/Skull 2.jpg" data-title="Skull 2" data-description="Oil pastel on black sugar paper" data-price="100" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Skull 2" height="1600" width="1200" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Oil Pastels/Skull 2.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Skull 2</h2>
            <p>Oil pastel on black sugar paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="oilPastels" data-img="/media/Oil Pastels/Skull 3.jpg" data-title="Skull 3" data-description="Oil Pastel" data-price="100" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Skull 3" height="1600" width="1200" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Oil Pastels/Skull 3.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Skull 3</h2>
            <p>Oil Pastel</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="oilPastels" data-img="/media/Oil Pastels/Skull.jpg" data-title="Skull" data-description="Oil pastel on black sugar paper" data-price="120" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Skull" height="1200" width="1600" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Oil Pastels/Skull.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Skull</h2>
            <p>Oil pastel on black sugar paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="oilPastels" data-img="/media/Oil Pastels/Weird tree.jpg" data-title="Weird Tree" data-description="Oil pastel on black sugar paper" data-price="100" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Weird Tree" height="1200" width="1600" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Oil Pastels/Weird tree.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Weird Tree</h2>
            <p>Oil pastel on black sugar paper</p>
        </div>
    </div>
</div>
