<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="abstract" data-img="media/Abstract/Black Boats.jpg" data-title="Black Boats" data-description="Acrylic on cardboard" data-price="50" data-width="20" data-height="21" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Black Boats" height="3264" width="4928" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Abstract/Black Boats.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Black Boats</h2>
            <p>Acrylic on cardboard</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="abstract" data-img="media/Abstract/Black on White.jpg" data-title="Black On White" data-description="Acrylic on canvas" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Black On White" height="2832" width="3536" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Abstract/Black on White.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Black On White</h2>
            <p>Acrylic on canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="abstract" data-img="media/Abstract/Black Stripes.jpg" data-title="Black Stripes" data-description="Acrylic on canvas" data-price="175" data-width="70" data-height="50" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Black Stripes" height="3264" width="4928" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Abstract/Black Stripes.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Black Stripes</h2>
            <p>Acrylic on canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="abstract" data-img="media/Abstract/Gray Square.jpg" data-title="Gray Square" data-description="Paper collage" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Gray Square" height="2648" width="2704" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Abstract/Gray Square.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Gray Square</h2>
            <p>Paper collage</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="abstract" data-img="media/Abstract/Harmony in white.jpg" data-title="Harmony In White" data-description="Acrylic on canvas" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Harmony In White" height="2840" width="2832" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Abstract/Harmony in white.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Harmony In White</h2>
            <p>Acrylic on canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="abstract" data-img="media/Abstract/Mystic Sky.jpg" data-title="Mystic Sky" data-description="Paper collage and paint" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Mystic Sky" height="3112" width="3600" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Abstract/Mystic Sky.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Mystic Sky</h2>
            <p>Paper collage and paint</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="abstract" data-img="media/Abstract/Red L.jpg" data-title="Red L" data-description="Paper collage" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Red L" height="2608" width="3160" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Abstract/Red L.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Red L</h2>
            <p>Paper collage</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="abstract" data-img="media/Abstract/Red Stripe.jpg" data-title="Red Stripe" data-description="Paper collage" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Red Stripe" height="3264" width="4928" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Abstract/Red Stripe.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Red Stripe</h2>
            <p>Paper collage</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="abstract" data-img="media/Abstract/Study in Gray.jpg" data-title="Study In Gray" data-description="Collage and paint" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Study In Gray" height="2808" width="3208" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Abstract/Study in Gray.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Study In Gray</h2>
            <p>Collage and paint</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="abstract" data-img="media/Abstract/White Boats.jpg" data-title="White Boats" data-description="Acrylic on cardboard" data-price="40" data-width="18" data-height="21" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="White Boats" height="3264" width="4928" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Abstract/White Boats.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">White Boats</h2>
            <p>Acrylic on cardboard</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="abstract" data-img="media/Abstract/White Field (2).jpg" data-title="White Field 2" data-description="Paper collage" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="White Field 2" height="2118" width="2046" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Abstract/White Field (2).webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">White Field 2</h2>
            <p>Paper collage</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="abstract" data-img="media/Abstract/White Field.jpg" data-title="White Field" data-description="Paper collage" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="White Field" height="3264" width="4928" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Abstract/White Field.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">White Field</h2>
            <p>Paper collage</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="abstract" data-img="media/Abstract/White Post.jpg" data-title="White Post" data-description="Paper collage and paint" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="White Post" height="2928" width="3344" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Abstract/White Post.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">White Post</h2>
            <p>Paper collage and paint</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="abstract" data-img="media/Abstract/Yellow Corner.jpg" data-title="Yellow Corner" data-description="Acrylic on canvas" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Yellow Corner" height="2880" width="3632" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Abstract/Yellow Corner.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Yellow Corner</h2>
            <p>Acrylic on canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="abstract" data-img="media/Abstract/Yellow Streak.jpg" data-title="Yellow Streak" data-description="Acrylic on canvas" data-price="150" data-width="40" data-height="51" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Yellow Streak" height="3264" width="4928" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="media_resized/Abstract/Yellow Streak.webp">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Yellow Streak</h2>
            <p>Acrylic on canvas</p>
        </div>
    </div>
</div>
