<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="italy" data-img="/img/blue-sky.jpg" data-title="Blue Sky" data-description="Acrylic on paper" data-price="85" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Blue Sky" height="500" width="500" class="card__image block w-full h-auto" loading="lazy" src="/img/blue-sky.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Blue Sky</h2>
            <p>Acrylic on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="italy" data-img="/img/padua.jpg" data-title="Padua" data-description="Watercolour on paper" data-price="65" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Padua" height="500" width="500" class="card__image block w-full h-auto" loading="lazy" src="/img/padua.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Padua</h2>
            <p>Watercolour on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="italy" data-img="/img/pink-building.jpg" data-title="Pink Building" data-description="Acrlyic on paper" data-price="75" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Pink Building" height="500" width="500" class="card__image block w-full h-auto" loading="lazy" src="/img/pink-building.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Pink Building</h2>
            <p>Acrlyic on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="italy" data-img="/img/pink-palace.jpg" data-title="Pink Palace" data-description="Acrylic on paper" data-price="85" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Pink Palace" height="500" width="500" class="card__image block w-full h-auto" loading="lazy" src="/img/pink-palace.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Pink Palace</h2>
            <p>Acrylic on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="italy" data-img="/img/red-pavement.jpg" data-title="Red Pavement" data-description="Acrylic on paper" data-price="75" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Red Pavement" height="500" width="500" class="card__image block w-full h-auto" loading="lazy" src="/img/red-pavement.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Red Pavement</h2>
            <p>Acrylic on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="italy" data-img="/img/squinty-building.jpg" data-title="Squinty Building" data-description="Acrylic on paper" data-price="75" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Squinty Building" height="500" width="500" class="card__image block w-full h-auto" loading="lazy" src="/img/squinty-building.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Squinty Building</h2>
            <p>Acrylic on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="italy" data-img="/img/street-light.jpg" data-title="Street Light" data-description="Watercolour on paper" data-price="60" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Street Light" height="500" width="500" class="card__image block w-full h-auto" loading="lazy" src="/img/street-light.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Street Light</h2>
            <p>Watercolour on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="italy" data-img="/img/street-scene.jpg" data-title="Street Scene" data-description="Watercolour on paper" data-price="55" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Street Scene" height="500" width="500" class="card__image block w-full h-auto" loading="lazy" src="/img/street-scene.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Street Scene</h2>
            <p>Watercolour on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="italy" data-img="/img/study.jpg" data-title="Study" data-description="Pen and wash on paper" data-price="60" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Study" height="500" width="500" class="card__image block w-full h-auto" loading="lazy" src="/img/study.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Study</h2>
            <p>Pen and wash on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="italy" data-img="/img/venetian-building.jpg" data-title="Venetian Building" data-description="Watercolour painting" data-price="60" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Venetian Building" height="500" width="500" class="card__image block w-full h-auto" loading="lazy" src="/img/venetian-building.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Venetian Building</h2>
            <p>Watercolour painting</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="italy" data-img="/img/venetian-buildings.jpg" data-title="Venetian Buildings" data-description="Watercolour on paper" data-price="55" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Venetian Buildings" height="500" width="500" class="card__image block w-full h-auto" loading="lazy" src="/img/venetian-buildings.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Venetian Buildings</h2>
            <p>Watercolour on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="italy" data-img="/img/venetian-street-scene.jpg" data-title="Venetian Street Scene" data-description="Pen drawing" data-price="75" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Venetian Street Scene" height="500" width="500" class="card__image block w-full h-auto" loading="lazy" src="/img/venetian-street-scene.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Venetian Street Scene</h2>
            <p>Pen drawing</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="italy" data-img="/img/venetian-theatre.jpg" data-title="Venetian Theatre" data-description="Watercolour on paper" data-price="75" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Venetian Theatre" height="500" width="500" class="card__image block w-full h-auto" loading="lazy" src="/img/venetian-theatre.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Venetian Theatre</h2>
            <p>Watercolour on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="italy" data-img="/img/view-from-hotel.jpg" data-title="View From Hotel" data-description="Watercolour" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="View From Hotel" height="500" width="500" class="card__image block w-full h-auto" loading="lazy" src="/img/view-from-hotel.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">View From Hotel</h2>
            <p>Watercolour</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="italy" data-img="/img/img_20161020_123403.jpg" data-title="IMG 20161020 123403" data-description="" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="IMG 20161020 123403" height="500" width="500" class="card__image block w-full h-auto" loading="lazy" src="/img/img_20161020_123403.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">IMG 20161020 123403</h2>
            <p></p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="italy" data-img="/img/img_20180504_170620.jpg" data-title="IMG 20180504 170620" data-description="" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="IMG 20180504 170620" height="500" width="500" class="card__image block w-full h-auto" loading="lazy" src="/img/img_20180504_170620.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">IMG 20180504 170620</h2>
            <p></p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="italy" data-img="/img/img_20150404_182158-2.jpg" data-title="IMG 20150404 1821582" data-description="" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="IMG 20150404 1821582" height="500" width="500" class="card__image block w-full h-auto" loading="lazy" src="/img/img_20150404_182158-2.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">IMG 20150404 1821582</h2>
            <p></p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="italy" data-img="/img/img_20150404_182141-2-2.jpg" data-title="IMG 20150404 18214122" data-description="" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="IMG 20150404 18214122" height="500" width="500" class="card__image block w-full h-auto" loading="lazy" src="/img/img_20150404_182141-2-2.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">IMG 20150404 18214122</h2>
            <p></p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="italy" data-img="/img/img_20150404_182425-2.jpg" data-title="IMG 20150404 1824252" data-description="" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="IMG 20150404 1824252" height="500" width="500" class="card__image block w-full h-auto" loading="lazy" src="/img/img_20150404_182425-2.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">IMG 20150404 1824252</h2>
            <p></p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="italy" data-img="/img/img_20180504_170703_1.jpg" data-title="IMG 20180504 170703 1" data-description="" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="IMG 20180504 170703 1" height="500" width="500" class="card__image block w-full h-auto" loading="lazy" src="/img/img_20180504_170703_1.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">IMG 20180504 170703 1</h2>
            <p></p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="italy" data-img="/img/2012-09-02-16-01-09.jpg" data-title="2012 09 02 16.01.09" data-description="" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="2012 09 02 16.01.09" height="500" width="500" class="card__image block w-full h-auto" loading="lazy" src="/img/2012-09-02-16-01-09.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">2012 09 02 16.01.09</h2>
            <p></p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="italy" data-img="/img/img_20150404_182518-2-2.jpg" data-title="IMG 20150404 18251822" data-description="" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="IMG 20150404 18251822" height="500" width="500" class="card__image block w-full h-auto" loading="lazy" src="/img/img_20150404_182518-2-2.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">IMG 20150404 18251822</h2>
            <p></p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="italy" data-img="/img/img_20150404_182555-2.jpg" data-title="IMG 20150404 1825552" data-description="" data-price="0" data-width="0" data-height="0" data-framed="Not Framed ">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="IMG 20150404 1825552" height="500" width="500" class="card__image block w-full h-auto" loading="lazy" src="/img/img_20150404_182555-2.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">IMG 20150404 1825552</h2>
            <p></p>
        </div>
    </div>
</div>
