<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="stillLife" data-img="/media/Still Life/Blue 2.jpg" data-title="Blue 2" data-description="Acrylic on canvas" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Blue 2" height="1600" width="1200" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Still Life/Blue 2.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Blue 2</h2>
            <p>Acrylic on canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="stillLife" data-img="/media/Still Life/Blue table.jpg" data-title="Blue Table" data-description="Acrylic on canvas" data-price="260" data-width="50" data-height="60" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Blue Table" height="3264" width="2652" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Still Life/Blue table.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Blue Table</h2>
            <p>Acrylic on canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="stillLife" data-img="/media/Still Life/Blue.jpg" data-title="Blue" data-description="Acrylic on canvas" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Blue" height="3427" width="2487" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Still Life/Blue.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Blue</h2>
            <p>Acrylic on canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="stillLife" data-img="/media/Still Life/Dutch Still Life.jpg" data-title="Dutch Still Life" data-description="Acrylic on canvas" data-price="0" data-width="0" data-height="0" data-framed="Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Dutch Still Life" height="3951" width="2965" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Still Life/Dutch Still Life.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Dutch Still Life</h2>
            <p>Acrylic on canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="stillLife" data-img="/media/Still Life/Pink still life.jpg" data-title="Pink Still Life" data-description="Acrylic on canvas" data-price="100" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Pink Still Life" height="3264" width="4928" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Still Life/Pink still life.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Pink Still Life</h2>
            <p>Acrylic on canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="stillLife" data-img="/media/Still Life/Purple table.jpg" data-title="Purple Table" data-description="Acrylic on canvas" data-price="275" data-width="50" data-height="60" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Purple Table" height="3264" width="4928" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Still Life/Purple table.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Purple Table</h2>
            <p>Acrylic on canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="stillLife" data-img="/media/Still Life/Red table.jpg" data-title="Red Table" data-description="Acrylic on canvas" data-price="100" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Red Table" height="3264" width="4928" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Still Life/Red table.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Red Table</h2>
            <p>Acrylic on canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="stillLife" data-img="/media/Still Life/Squinty vase of flowers.jpg" data-title="Squinty Vase Of Flowers" data-description="Acrylic on canvas" data-price="300" data-width="50" data-height="70" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Squinty Vase Of Flowers" height="4138" width="2893" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Still Life/Squinty vase of flowers.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Squinty Vase Of Flowers</h2>
            <p>Acrylic on canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="stillLife" data-img="/media/Still Life/Sunflower.jpg" data-title="Sunflower" data-description="Acrylic on canvas" data-price="240" data-width="40" data-height="50" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Sunflower" height="3264" width="4928" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Still Life/Sunflower.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Sunflower</h2>
            <p>Acrylic on canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="stillLife" data-img="/media/Still Life/Tulips.jpg" data-title="Tulips" data-description="Acrylic on canvas" data-price="300" data-width="50" data-height="70" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Tulips" height="3264" width="4928" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Still Life/Tulips.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Tulips</h2>
            <p>Acrylic on canvas</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="stillLife" data-img="/media/Still Life/Vase of flowers.jpg" data-title="Vase Of Flowers" data-description="Acrylic on canvas" data-price="275" data-width="50" data-height="60" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Vase Of Flowers" height="3264" width="4928" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Still Life/Vase of flowers.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Vase Of Flowers</h2>
            <p>Acrylic on canvas</p>
        </div>
    </div>
</div>
