<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="lockdown" data-img="/media/Lockdown/Dead tree.jpg" data-title="Dead Tree" data-description="Watercolour and pen and ink" data-price="100" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Dead Tree" height="1600" width="1200" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media/Lockdown/Dead tree.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Dead Tree</h2>
            <p>Watercolour and pen and ink</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="lockdown" data-img="/media/Lockdown/Imagined Landscape.jpg" data-title="Imagined Landscape" data-description="Imagined landscape based upon Tinto Hill. A slightly more expressive painting with lots of impostors paint" data-price="300" data-width="30" data-height="40" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Imagined Landscape" height="1600" width="1200" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media/Lockdown/Imagined Landscape.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Imagined Landscape</h2>
            <p>Imagined landscape based upon Tinto Hill. A slightly more expressive painting with lots of impostors paint</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="lockdown" data-img="/media/Lockdown/Lockdown self portrait.jpg" data-title="Lockdown Self Portrait" data-description="Two months into lockdown I created this digital self portrait." data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Lockdown Self Portrait" height="757" width="558" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media/Lockdown/Lockdown self portrait.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Lockdown Self Portrait</h2>
            <p>Two months into lockdown I created this digital self portrait.</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="lockdown" data-img="/media/Lockdown/Towards the Clyde Valley.jpg" data-title="Towards The Clyde Valley" data-description="Acrylic painted at scene,looking towards the Clyde Valley" data-price="300" data-width="30" data-height="40" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Towards The Clyde Valley" height="1600" width="1200" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media/Lockdown/Towards the Clyde Valley.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Towards The Clyde Valley</h2>
            <p>Acrylic painted at scene,looking towards the Clyde Valley</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="lockdown" data-img="/media/Lockdown/Tree 1.jpg" data-title="Tree 1" data-description="Watercolour and pen and ink" data-price="100" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Tree 1" height="1600" width="1200" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media/Lockdown/Tree 1.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Tree 1</h2>
            <p>Watercolour and pen and ink</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="lockdown" data-img="/media/Lockdown/Tree 2.jpg" data-title="Tree 2" data-description="By the Clyde" data-price="100" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Tree 2" height="1600" width="1200" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media/Lockdown/Tree 2.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Tree 2</h2>
            <p>By the Clyde</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="lockdown" data-img="/media/Lockdown/Tree 3.jpg" data-title="Tree 3" data-description="Over the bing" data-price="100" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Tree 3" height="1200" width="1600" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media/Lockdown/Tree 3.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Tree 3</h2>
            <p>Over the bing</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="lockdown" data-img="/media/Lockdown/Tree 4.jpg" data-title="Tree 4" data-description="Watercolour and pen and ink" data-price="100" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Tree 4" height="1200" width="1600" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media/Lockdown/Tree 4.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Tree 4</h2>
            <p>Watercolour and pen and ink</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="lockdown" data-img="/media/Lockdown/Vista.jpg" data-title="Vista" data-description="Watercolour painted an alien air" data-price="100" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Vista" height="1200" width="1600" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media/Lockdown/Vista.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Vista</h2>
            <p>Watercolour painted an alien air</p>
        </div>
    </div>
</div>
