<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="venice" data-img="/media/Venice/Blue sky.jpg" data-title="Blue Sky" data-description="Acrylic on paper" data-price="85" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Blue Sky" height="2697" width="2469" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Venice/Blue sky.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Blue Sky</h2>
            <p>Acrylic on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="venice" data-img="/media/Venice/Grand Canal.jpg" data-title="Grand Canal" data-description="Watercolour on paper" data-price="75" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Grand Canal" height="3280" width="4948" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Venice/Grand Canal.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Grand Canal</h2>
            <p>Watercolour on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="venice" data-img="/media/Venice/Padua.jpg" data-title="Padua" data-description="Watercolour on paper" data-price="65" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Padua" height="3879" width="2421" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Venice/Padua.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Padua</h2>
            <p>Watercolour on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="venice" data-img="/media/Venice/Pink Building.jpg" data-title="Pink Building" data-description="Acrlyic on paper" data-price="75" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Pink Building" height="3264" width="4928" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Venice/Pink Building.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Pink Building</h2>
            <p>Acrlyic on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="venice" data-img="/media/Venice/Pink Palace.jpg" data-title="Pink Palace" data-description="Acrylic on paper" data-price="85" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Pink Palace" height="2276" width="2799" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Venice/Pink Palace.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Pink Palace</h2>
            <p>Acrylic on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="venice" data-img="/media/Venice/Red Pavement.jpg" data-title="Red Pavement" data-description="Acrylic on paper" data-price="75" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Red Pavement" height="3907" width="2709" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Venice/Red Pavement.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Red Pavement</h2>
            <p>Acrylic on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="venice" data-img="/media/Venice/Squinty Building.jpg" data-title="Squinty Building" data-description="Acrylic on paper" data-price="75" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Squinty Building" height="3728" width="2805" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Venice/Squinty Building.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Squinty Building</h2>
            <p>Acrylic on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="venice" data-img="/media/Venice/Street Light.jpg" data-title="Street Light" data-description="Watercolour on paper" data-price="60" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Street Light" height="3689" width="2565" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Venice/Street Light.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Street Light</h2>
            <p>Watercolour on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="venice" data-img="/media/Venice/Street Scene.jpg" data-title="Street Scene" data-description="Watercolour on paper" data-price="55" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Street Scene" height="2405" width="3352" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Venice/Street Scene.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Street Scene</h2>
            <p>Watercolour on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="venice" data-img="/media/Venice/Study.jpg" data-title="Study" data-description="Pen and wash on paper" data-price="60" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Study" height="3858" width="2803" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Venice/Study.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Study</h2>
            <p>Pen and wash on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="venice" data-img="/media/Venice/Venetian Building.jpg" data-title="Venetian Building" data-description="Watercolour painting" data-price="60" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Venetian Building" height="3264" width="4928" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Venice/Venetian Building.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Venetian Building</h2>
            <p>Watercolour painting</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="venice" data-img="/media/Venice/Venetian Buildings.jpg" data-title="Venetian Buildings" data-description="Watercolour on paper" data-price="55" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Venetian Buildings" height="3067" width="3307" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Venice/Venetian Buildings.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Venetian Buildings</h2>
            <p>Watercolour on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="venice" data-img="/media/Venice/Venetian Street Scene.jpg" data-title="Venetian Street Scene" data-description="Pen drawing" data-price="75" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Venetian Street Scene" height="2322" width="4416" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Venice/Venetian Street Scene.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Venetian Street Scene</h2>
            <p>Pen drawing</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="venice" data-img="/media/Venice/Venetian Theatre.jpg" data-title="Venetian Theatre" data-description="Watercolour on paper" data-price="75" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="Venetian Theatre" height="3264" width="4928" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Venice/Venetian Theatre.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">Venetian Theatre</h2>
            <p>Watercolour on paper</p>
        </div>
    </div>
</div>
<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="venice" data-img="/media/Venice/View from Hotel.jpg" data-title="View From Hotel" data-description="Watercolour" data-price="0" data-width="0" data-height="0" data-framed="Not Framed">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="View From Hotel" height="4033" width="2974" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="/media_resized/Venice/View from Hotel.jpg">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">View From Hotel</h2>
            <p>Watercolour</p>
        </div>
    </div>
</div>
