<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
    content="Graduate of Glasgow School of Art in Fine Art, 1980. Currently working as an Art teacher. My work reflects the landscape where I live in the Clyde Valley, and where I holiday.">
<meta name="keywords"
    content="John Dale, website, Clydesdale Art, Artist, Teacher, Scotland, Glasgow, Carluke, Lanarkshire, Still Life, Landscapes, Photos, Abstract, Photography, Paintings">
<title>John Dale Gallery</title>
<link href="output.css" rel="stylesheet">
<style>
/* ${require('/output.css')} */
</style>
