<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
    content="Graduate of Glasgow School of Art in Fine Art, 1980. Currently working as an Art teacher. My work reflects the landscape where I live in the Clyde Valley, and where I holiday.">
<meta name="keywords"
    content="John Dale, website, Clydesdale Art, Artist, Teacher, Scotland, Glasgow, Carluke, Lanarkshire, Still Life, Landscapes, Photos, Abstract, Photography, Paintings">
<title>John Dale Gallery</title>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<link href="output.css" rel="stylesheet">
