<nav class="nav fixed top-10 left-10 max-sm:top-5 max-sm:left-5 z-30 flex gap-3 z-30 ease-in-out duration-700 translate-y-8 opacity-0 animate">
    <button class="nav__toggle bg-white w-10 h-10 flex flex-col gap-1 items-center justify-center select-none cursor-pointer hover:bg-gray-900 hover:text-white ease-in-out duration-300 shadow-md group rounded-lg" aria-label="Open navigation">
        <span class="nav__line nav__line--t block w-4 h-[0.15rem] bg-black relative ease-in-out duration-300 group-hover:invert"></span>
        <span class="nav__line nav__line--b block w-4 h-[0.15rem] bg-black relative ease-in-out duration-300 group-hover:invert"></span>
    </button>

    <div class="flex gap-4 bg-white rounded-lg px-6 shadow-md nav__box ease-in-out duration-300">
        <button class="main-link nav__link text-sm relative z-10" data-page="home">Home</button>
        <button class="main-link nav__link text-sm relative z-10" data-page="gallery">Gallery</button>
        <button class="main-link nav__link text-sm relative z-10" data-page="contact">Contact</button>
    </div>
</nav>