<div class="grid__item inline-flex w-full mt-8 cursor-pointer" data-id="${props.id}" data-img="${props.img}" data-title="${props.title}" data-description="${props.description}" data-price="${props.price}" data-width="${props.width}" data-height="${props.height}" data-framed="${props.frame}">
    <div class="card relative hover:shadow-2xl ease-in-out duration-500 w-full">
        <img alt="${props.title}" height="${props.imgHeight}" width="${props.imgWidth}" class="card__image block w-full h-auto bg-gray-200" loading="lazy" src="${props.img}">
        <div class="card__body p-8 bg-white flex flex-col gap-1">
            <h2 class="card__title font-serif text-3xl">${props.title}</h2>
            <p>${props.description}</p>
        </div>
    </div>
</div>