<section class="panel panel--overlay w-screen h-screen absolute bg-[#202024] -translate-x-full ease-in-out duration-1000 z-40 overflow-y-auto flex flex-col gap-6 overflow-x-hidden">
    <button onclick="closeOverlay()" class="overlay__close fixed top-10 left-10 max-sm:top-5 max-sm:left-5 bg-white w-10 h-10 flex justify-center items-center z-10" aria-label="Close Overlay">
        <img src="/icons/close.svg" alt="Close overlay" class="w-6">
    </button>
    <div class="flex flex-1 max-md:flex-col">
        <div class="relative flex-1 flex max-h-[100vh] overflow-auto">
            <div class="flex gap-4 absolute top-10 right-10">
                <button class="overlay__fit bg-white w-10 h-10 flex justify-center items-center" target="_blank" aria-label="View image fullscreen">
                    <img src="/icons/resize.svg" alt="View image fullscreen" class="w-6">
                </button>
                <a href="" class="overlay__download bg-white w-10 h-10 flex justify-center items-center" aria-label="Download image" download>
                    <img src="/icons/download.svg" alt="View image fullscreen" class="w-6">
                </a>
            </div>
            <img src="" class="overlay__img h-auto max-h-[90vh] object-cover ease-in-out duration-500 m-auto"  alt=""/>
        </div>
        <div class="md:w-80 bg-white p-8 flex flex-col gap-5">
            <div>
                <h2 class="text-3xl tracking-tight font-bold font-serif overlay__title"></h2>
                <p class="overlay__description"></p>
            </div>
            <hr>
            <span class="overlay__price text-3xl"></span>
            <hr>
            <div class="flex flex-col">
                <span class="overlay__width uppercase text-sm tracking-wide leading-6"></span>
                <span class="overlay__height uppercase text-sm tracking-wide leading-6"></span>
                <span class="overlay__framed uppercase text-sm tracking-wide leading-6"></span>
            </div>
            <hr>
            <a class="overlay__contact bg-gray-100 px-8 py-4 rounded-lg hover:bg-gray-900 hover:text-white ease-in-out duration-300 inline-block cursor-pointer">Enquire</a>
        </div>
    </div>
</section>