@tailwind base;
@tailwind components;
@tailwind utilities;

.grid__item--hide {
    pointer-events: none;
    display: none;
    opacity: 0;
}

.grid__item--active {
    animation: fadeIn .7s ease;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav__link:not(.nav--open .nav__link) {
    opacity: 0;
    visibility: hidden;
}

.nav:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -1.5625rem;
    background-color: #FFF;
    transform: scaleX(0);
    transform-origin: left;
    z-index: -1;
    transition: ease .5s;
}

.nav--open:after {
    transform: scaleX(1);
    box-shadow: 0 0 2.5rem 0 rgba(0,0,0,.1);
}

.nav--open .nav__line--t {
    rotate: 45deg;
    translate: 0 0.19rem;
}

.nav--open .nav__line--b {
    rotate: -45deg;
    translate: 0 -0.18rem;
}

.gallery__filter:before {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: -0.1875rem;
    border-bottom: 3px solid #000;
    transform-origin: left;
    transition: all ease-in-out .4s;
    transform: scaleX(0);
}

.gallery__filter--active:before {
    transform: scaleX(1);
}

.gallery__filter:not(:last-child):after {
    content: ',';

}