<div class="grid__item inline-flex w-full mt-[1.25rem]" data-id="${props.id}" data-img-crop="${props.img}" data-img="${props.img}" data-title="${props.title}" data-description="${props.description}" data-price="50" width="4928" height="3264" data-width="20" data-height="21" data-framed="Not Framed">
    <div class="card relative">
        <img alt="${props.title}" height="3264" width="4928" class="card__image block w-full h-auto" loading="lazy" src="${props.img}">
        <div class="card__body absolute left-4 bottom-4 p-4 bg-white">
            <h2 class="card__title font-serif">${props.title}</h2>
            <p>${props.description}</p>
        </div>
    </div>
</div>