<section class="panel panel--overlay w-screen h-screen absolute bg-slate-400 -translate-x-full ease-in-out duration-1000 p-10 pt-32 z-20 overflow-y-auto flex flex-col items-center justify-center gap-6">
    <button onclick="closeOverlay()" class="overlay__close absolute top-6 right-6" aria-label="Close Overlay">close</button>
    <img src="" class="overlay__img h-auto max-w-2xl" width="0" height="0" alt=""/>
    <div class="overlay__content flex flex-col max-w-2xl">
        <h2 class="overlay__title"></h2>
        <p class="overlay__description"></p>
        <div class="overlay__info flex gap-4">
            <span class="overlay__width"></span>
            <span class="overlay__height"></span>
            <span class="overlay__framed"></span>
            <span class="overlay__price"></span>
        </div>
        <div class="overlay__buttons flex flex--justify">
            <a class="button icon icon--mail">Enquire</a>
            <a href="" class="button icon icon--fullscreen" target="_blank">View full size</a>
        </div>
    </div>
</section>